USE [master]
GO
/****** Object:  Database [Loan]    Script Date: 05-10-2021 21:59:34 ******/
CREATE DATABASE [Loan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Loan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Loan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Loan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Loan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Loan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Loan]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 05-10-2021 21:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[firstname] [text] NOT NULL,
	[lastname] [text] NULL,
	[contact] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[username] [text] NULL,
	[password] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manager1]    Script Date: 05-10-2021 21:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manager1](
	[firstname] [text] NOT NULL,
	[lastname] [text] NULL,
	[contact] [varchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[username] [text] NULL,
	[password] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
